.name{
  font-size: 20px;
  margin-top: 5%;
}

.explain{
  font-size: 10px;
}

.price{
  font-size: 10px;
}

.link{
  font-size: 20px;
}

.img{
  width: auto;
  height: auto;
}

.main{
  padding-top: 6rem;
  display:flex;
}